MyFirstProgram.py

In [6]:
myname = input("What is your name? ")
print("Hi " + myname + ", I'm glad to say: Hello world!")

What is your name? Minto
Hi Minto, I'm glad to say: Hello world!

Make Calculations

In [7]:
1 + 2

3

In [8]:
(1.045 * 3)/4

0.78375

In [9]:
4 ** 2

16

In [10]:
((4 + 5j) * (2 + 3j))

(-7+22j)

In [11]:
4 < (2*3)

True

In [12]:
a = 12 * 3.4
a

40.8

Import New Libraries and Functions

In [13]:
import math
math.sin(a) #library_name.function_name()

0.040693257349864856

In [14]:
#Even if this works properly, it is to be avoided for good practice. In fact, writing an 
# import in this way involves the importation of all functions without necessarily defining
# the library to which they belong.
from math import *
sin(a)

0.040693257349864856

Data Structure

The various data structures provided are defined differently depending on how their
data are structured internally.
• List
• Set
• Strings
• Tuples
• Dictionary
• Deque
• Heap

Dictionary

In [15]:
dict = {'name':'Mintu', 'age':25, 'city':'London'}

In [16]:
dict["name"]

'Mintu'

In [17]:
for key, value in dict.items():
    print(key,value)

name Mintu
age 25
city London

List